<ion-view title="Home" id="page3">
  <ion-content padding="false" scroll="false" class="has-header">
    <ion-list id="home-list11">
      <ion-item class="item-avatar" id="home-list-item16">
        <h2>Leonardo Ahmed</h2>
      </ion-item>
    </ion-list>
    <a ui-sref="pH()" id="home-button3" class="button button-assertive button-block">PH</a>
    <a ui-sref="sALINIDADE()" id="home-button10" class="button button-positive button-block">SALINIDADE</a>
    <a ui-sref="tEMPERATURA()" id="home-button11" class="button button-balanced button-block">TEMPERATURA</a>
    <a ui-sref="login()" id="home-button18" class="button button-energized button-block">SAIR </a>
  </ion-content>
</ion-view>