<ion-view title="Login" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/pkU3a0ryQPWU5p4ENXWN_camarao.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form1" class="list form-login">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="E-mail">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <a ui-sref="home()" id="login-button1" class="button button-assertive button-block">Log in</a>
    </form>
  </ion-content>
</ion-view>