<ion-view title="PH" id="page4">
  <ion-content padding="true" scroll="false" class="has-header">
    <form id="pH-form2" class="list">
      <label class="item item-input" id="pH-search1" name="search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </form>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/oBQTiR12QkCmGX95duNE_ph.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>