<ion-view title="SALINIDADE" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="sALINIDADE-form3" class="list">
      <label class="item item-input" id="sALINIDADE-search2" name="search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </form>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Q9coIAIeS4e07anEeBsX_sal.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>